.navbar-container {
  width: 100vw;
  border-bottom: 1px solid lightgray;
  background: white;
  display: flex;
  z-index: 20;
}

.logo {
  color: #6d6d6d;
}

.component {
  padding: 1vw 4vw;
  width: fit-content;
  color: #465072;
  border-right: 1px solid lightgray;
  background: white;
  transition: background 500ms;
}
.component p {
  white-space: nowrap;
}
.component:hover {
  background: #b6c2ec;
}
.navbar-dropdown {
  background-image: url("./arrow-down.png");
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 12px;
  border-bottom: 3px solid #465072;
  position: relative;
}
.menu-body-container {
  display: none;
  opacity: 0;
  position: absolute;
  background-color: white;
  width: 100%;
  overflow: scroll;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
  right: 0;
  border-radius: 0.8vw;
  margin-top: min(2vw, 10px);
  -webkit-animation: fadeOutToNone 0.5s;
  -moz-animation: fadeOutToNone 0.5s;
  -o-animation: fadeOutToNone 0.5s;
  animation: fadeOutToNone 0.5s;
}
.navbar-dropdown:hover > .menu-body-container {
  display: block;
  opacity: 1;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}
@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeOutToNone {
  from {
    display: block;
    opacity: 1;
  }

  99% {
    display: block;
    opacity: 0;
  }

  to {
    display: none;
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    display: none;
    left: -50vw;
  }

  1% {
    display: block;
    left: -50vw;
  }

  to {
    display: block;
    left: 0;
  }
}
@keyframes slideOut {
  0% {
    display: block;
    left: 0;
  }

  99% {
    display: block;
    left: -50vw;
  }

  100% {
    display: none;
    left: -50vw;
  }
}
.component.sub {
  padding: 2vw 0;
  width: 100%;
  border: none;
  border-radius: 0.2vw;
}
.component.sub p {
  width: fit-content;
  margin: 0 auto;
}

.show-more {
  display: none;
  border: none;
  box-shadow: 1px 1px 5px #555 inset;
}
.show-more:hover > .menu-body-container {
  display: block;
}

@media screen and (max-width: 600px) {
  .component.sub {
    border-radius: 0.6vw;
    padding: 6vw 0;
  }
  .menu-body-container {
    right: 0;
    border-radius: 2.5vw;
  }
  .component {
    padding: 4vw 8vw;
  }
  .menu-body-container.show-more-menu {
    left: -50vw;
    position: fixed;
    top: 25vw;
    right: unset;
    background-color: white;
    width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 99;
    height: calc(100vh - 8vw);
    border-radius: 0.8vw;
    margin-top: unset;
    -webkit-animation: slideOut 0.5s ease-out;
    -moz-animation: slideOut 0.5s ease-out;
    -o-animation: slideOut 0.5s ease-out;
    animation: slideOut 0.5s ease-out;
  }
  .navbar-dropdown:hover > .menu-body-container.show-more-menu {
    display: block;
    left: 0;
    -webkit-animation: slideIn 0.5s ease-out;
    -moz-animation: slideIn 0.5s ease-out;
    -o-animation: slideIn 0.5s ease-out;
    animation: slideIn 0.5s ease-out;
  }
}
@media screen and (max-width: 1024px) and (min-width: 600px) {
  .component.sub {
    border-radius: 0.4vw;
    padding: 4vw 0;
  }
  .menu-body-container {
    border-radius: 1vw;
  }
  .navbar-dropdown {
    display: inline-block;
    width: unset;
    margin-right: 0;
    padding: 7vw 0;
  }
  .component {
    padding: 3.6vw 3vw;
  }
}
@media screen and (min-width: 1900px) {
  .component.sub {
    border-radius: 4px;
    padding: 38px 0;
  }
  .menu-body-container {
    border-radius: 15px;
  }
  .navbar-dropdown {
    display: inline-block;
    padding: 3.6vw 0;
  }
  .navbar-container {
    border-bottom: 2px solid lightgray;
  }
  .component {
    padding: 28px 38px;
  }
}
